[Desktop Entry]
Encoding=UTF-8
Name=Link to DartGame.class
Type=Link
URL=http://hive.sewanee.edu/myersdj0/DartGame/DartGame.class
Icon=application-java-vm
